AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: true
ColumnLimit: 150
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakStringLiterals: false
PointerAlignment: Right
MaxEmptyLinesToKeep: 1